/docs/
/examples/*.js
/examples/*.js.map
/examples/*.d.ts
/examples/*.d.ts.map
/node_modules/
/tests_global/*.js
/tests_global/*.js.map
/tests_global/*.d.ts
/tests_global/*.d.ts.map
/tests_modular/*.js
/tests_modular/*.js.map
/tests_modular/*.d.ts
/tests_modular/*.d.ts.map
/global.js
/global.js.map
/global.d.ts
/global.d.ts.map
/modular.js
/modular.js.map
/modular.d.ts
/modular.d.ts.map
/package-lock.json

*.tsbuildinfo
